.download-button {
    position: absolute;
    top: calc(50% - 10px);
    right: 60px;
    width: 20px;
    height: 20px;
    background: none;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    padding: 0;
    transition: 0.2s;
    display: none;
}

.download-button .downloadButtonImg {
    fill: #ffffff;
}

.download-button:hover .downloadButtonImg {
    fill: #1db954;
}

#track-list li:hover .download-button {
    display: flex;
}