* {
    box-sizing: border-box;
}

.now-playing-bar {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 12px;
    height: 90px;
    background-color: #181818;
    border-top: 1px solid #282828;
    position: fixed;
    bottom: -100px; /* Скрываем за пределами экрана */
    width: 100%;
    transition: 0.2s ease-in-out;
}

    .now-playing-bar .track-info {
        display: flex;
        align-items: center;
        gap: 15px;
        width: 30%;
    }

        .now-playing-bar .track-info .cover {
            width: 56px;
            height: 56px;
            border-radius: 4px;
            background-size: cover;
            background-position: center;
            min-width: 56px; 
            min-height: 56px; 
        }

        .now-playing-bar .track-info .text-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-width: 0; /* предотвращает "выпирание" текста */
        }

            .now-playing-bar .track-info .text-info .track-title {
                font-weight: bold;
                font-size: 14px;
                color: #fff;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-right: 0.5em;
            }

            .now-playing-bar .track-info .text-info .track-artist {
                font-size: 12px;
                color: #b3b3b3;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-right: 0.5em;
            }

    .now-playing-bar .controls {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
    }

        .now-playing-bar .controls .buttons {
            display: flex;
            gap: 16px;
            align-items: center;
        }

            .now-playing-bar .controls .buttons button {
                width: 1em;
                background: none;
                border: none;
                color: white;
                cursor: pointer;
                font-size: 30px;
            }

        .now-playing-bar .controls .progress-container {
            width: 400px;
            display: flex;
            align-items: center;
            gap: 10px;
        }

            .now-playing-bar .controls .progress-container .time {
                font-size: 11px;
                color: #b3b3b3;
            }

            .now-playing-bar .controls .progress-container .progress {
                flex: 1;
                /* appearance: none; */
                height: 4px;
                background: #404040;
                border-radius: 2px;
            }

            .now-playing-bar .controls .progress-container .progress::-webkit-slider-thumb {
                appearance: none;
                width: 10px;
                height: 10px;
                background: #1db954;
                border-radius: 50%;
                cursor: pointer;
            }

    .now-playing-bar .volume {
        display: flex;
        align-items: center;
        gap: 8px;
        width: 30%;
        justify-content: flex-end;
    }

        .now-playing-bar .volume input {
            width: 100px;
        }