* {
    box-sizing: border-box;
}

.now-playing-bar {
    display: flex;
    align-items: flex-start;
    padding: 10px 20px;
    border-radius: 12px;
    height: 120px;
    background-color: #181818;
    border-top: 2px solid #282828;
    box-shadow: 0 0px 10px rgb(50, 50, 50, 0.8);
    position: fixed;
    bottom: -130px; /* Скрываем за пределами экрана */
    width: 100%;
    transition: 0.2s ease-in-out;
}

    .now-playing-bar .track-info {
        display: flex;
        align-items: flex-start;
        gap: 15px;
        width: calc(100% - 142px); /* Учитываем ширину кнопок */
    }

        .now-playing-bar .track-info .cover {
            width: 56px;
            height: 56px;
            border-radius: 4px;
            background-size: cover;
            background-position: center;
            min-width: 56px; 
            min-height: 56px; 
        }

        .now-playing-bar .track-info .text-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-width: 0; /* предотвращает "выпирание" текста */
        }

            .now-playing-bar .track-info .text-info .track-title {
                font-weight: bold;
                color: #fff;

                font-size: 14px;
                line-height: 21px;
                max-height: 42px; /* 2 строки по 21px */
                overflow: hidden;
                word-break: break-word;

                display: -webkit-box;
                -webkit-line-clamp: 2;
                line-clamp: 2;
                -webkit-box-orient: vertical;

                margin-right: 0.5em;
            }

            .now-playing-bar .track-info .text-info .track-artist {
                color: #b3b3b3;

                font-size: 12px;
                line-height: 18px;
                max-height: 18px; /* 1 строки по 18px */
                overflow: hidden;
                word-break: break-word;

                display: -webkit-box;
                -webkit-line-clamp: 1;
                line-clamp: 1;
                -webkit-box-orient: vertical;
                
                margin-right: 0.5em;
            }

    .now-playing-bar .controls {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
    }

        .now-playing-bar .controls .buttons {
            display: flex;
            gap: 16px;
            position: absolute;
            right: 20px;
            align-items: center;
            /* display: none; скрываем кнопки на мобильных устройствах */
        }

            .now-playing-bar .controls .buttons button {
                width: 1em;
                background: none;
                border: none;
                color: white;
                cursor: pointer;
                font-size: 30px;
            }

        .now-playing-bar .controls .progress-container {
            width: 95%;
            display: flex;
            position: absolute;
            left: 2.5%;
            right: 2.5%;
            bottom: 20px;
            align-items: center;
            gap: 10px;
        }

            .now-playing-bar .controls .progress-container .time {
                font-size: 11px;
                color: #b3b3b3;
            }

            .now-playing-bar .controls .progress-container .progress {
                flex: 1;
                /* appearance: none; */
                height: 4px;
                background: #404040;
                border-radius: 2px;
            }

            .now-playing-bar .controls .progress-container .progress::-webkit-slider-thumb {
                appearance: none;
                width: 10px;
                height: 10px;
                background: #1db954;
                border-radius: 50%;
                cursor: pointer;
            }

    .now-playing-bar .volume {
        display: flex;
        align-items: center;
        gap: 8px;
        width: 30%;
        justify-content: flex-end;
        display: none; /* скрываем кнопки на мобильных устройствах */
    }

        .now-playing-bar .volume input {
            width: 100px;
        }